Package: com.compilingentropy.fuzzycactus
Name: Fuzzycactus
Version: 1.0.4-1
Description: Automated MobileSafari Fuzzer
	<body bgcolor="#FFFFFF">
	<div align="left">
	<p>A tool which automates and simplifies the on-device fuzzing of MobileSafari.
	<p>How it works: This tool can turn anyone's freshly jailbroken device into a fuzzing machine in minutes. All the setup is handled for you.
	<p>Usage: 
	<br>~$ fuzzycactus start /path/to/file
	<br>~$ fuzzycactus stop
	<br>~$ fuzzycactus help
	<p>The working directory for this tool is /private/var/fuzzycactus/, you can see your results and crashes in there.
	<p>Start and stop the script over ssh (rather than mobileterminal) to avoid confusing the device as it does its work.
	<br>Once the script is started you can safely disconnect.
	<p>Always remember: Before you begin fuzzing, go to 'Settings' > 'General' > 'About' > 'Diagnostics & Usage' and check the "Don't Send" option.
	<br>Otherwise, all your hard work will go to Apple and you will be sad. =(
	<p>Read more about how this package works, and see the source code on <a href="http://github.com/compilingEntropy/fuzzycactus">GitHub</a>.
	<p>Report bugs or ask questions to me on twitter <a href="http://twitter.com/compiledEntropy">@compiledEntropy</a>
	</div>
	</body>
Section: cmd-tool
Depends: firmware (>= 6.0),com.innoying.sbutils,bc,lighttpd,adv-cmds,com.cameronfarzaneh.safariresetter,curl,wget,coreutils
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: compilingEntropy
dev: compilingEntropy
Homepage: http://twitter.com/compiledEntropy
Depiction: 
Maintainer: 
Icon: 